body{
    font-family: Arial;
    background: linear-gradient(135deg,#74ebd5,#acb6e5);
    text-align:center;
}

.container{
    width:700px;
    margin:auto;
    background:white;
    padding:25px;
    border-radius:15px;
    margin-top:40px;
    box-shadow:0 0 15px rgba(0,0,0,0.2);
}

.input-box input, select{
    padding:8px;
    margin:6px;
}

button{
    padding:8px 14px;
    border:none;
    background:#007bff;
    color:white;
    border-radius:6px;
    cursor:pointer;
}

button:hover{
    background:#0056b3;
}

table{
    width:100%;
    margin-top:20px;
    border-collapse: collapse;
}

th,td{
    border:1px solid #ddd;
    padding:10px;
}

th{
    background:#007bff;
    color:white;
}

.delete-btn{
    background:red;
}
